.features__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @media (max-width: $vp-768) {
    flex-direction: column;
    padding: 33px 0 0;
    margin: 16px 0 0;
    gap: normal;
  }

  @media (min-width: $vp-768)  {
    flex-direction: row;
    justify-content: space-between;
    padding: 63px 0;
  }

  @media (min-width: $vp-1024) {
    padding: 55px 0;
    gap: 1.56vw;
  }

  @media (min-width: $vp-1920) {
    padding: 55px 0;
    gap: 30px;
  }
}

.features__item {
  box-sizing: border-box;

  @media (max-width: $vp-768) {
    width: 100%;
    min-height: 325px;
    padding: 30px 30px 35px 27px;
    box-shadow: -5px 0px 0px 0px #00B2FF;
    margin-left: 5px;
    margin-bottom: 34px;
  }

  @media (min-width: $vp-768)  {
    width: 314.5px;
    min-height: 360px;
    padding: 42px 0 0 43px;
    box-shadow: -5px 0px 0px 0px #00B2FF;
    margin-left: 5px;
  }

  @media (min-width: $vp-1024) {
    width: 30vw;
    min-height: 300px;
  }

  @media (min-width: $vp-1920) {
    width: 590px;
    min-height: 300px;
    padding: 42px 0 0 43px;
    margin-left: 5px;
    box-shadow: -5px 0px 0px 0px #00B2FF;
  }
}

.features__item-wrapper {
  @media (max-width: $vp-768) {
    display: grid;
    grid-auto-rows: min-content;
    grid-auto-columns: 100%;
    min-height: 260px;
  }

  @media (min-width: $vp-768){

  }

  @media (min-width: $vp-1024) {

  }

  @media (min-width: $vp-1920) {

  }

}

.features__h3 {
  @media (max-width: $vp-768) {
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;

    color: #00B2FF;
    margin: 18px 0 10px 0;
  }

  @media (min-width: $vp-768){
    font-weight: 400;
    font-size: 21.5px;
    line-height: 140%;
    /* or 34px */

    color: #00B2FF;
    margin: 7px 0 0 0;

    &br {
      display: none;
    }
  }

  @media (min-width: $vp-1024) {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    color: #00B2FF;
    margin: 0.52vw 0 0 0;
  }

  @media (min-width: $vp-1920) {
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
    /* or 34px */
    color: #00B2FF;
    margin: 10px 0 0 0;
  }

}

.features__description {
  @media (max-width: $vp-768) {
    margin: 0;
    padding-bottom: 31px;
    width: 65.31vw;
    font-family: 'PT Mono', Arial sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 135%;
    /* or 19px */
    color: #041827;
  }

  @media (min-width: $vp-768){
    margin: 10px 0;
    font-family: 'PT Mono', Arial sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 135%;
    word-spacing: 3px;
    /* or 22px */


    color: #041827;
    width: 245px;
  }

  @media (min-width: $vp-1024) {
    word-spacing: 0;
    margin: 16px 0;
    width: 26.3vw;
  }

  @media (min-width: $vp-1920) {
    width: 505px;
  }

}

.features__item-image {
  @media (max-width: $vp-768) {
    width: 30px;
    height: 30px;
  }

  @media (min-width: $vp-768){
    width: 35px;
    height: 35px;
  }

  @media (min-width: $vp-1024) {
    width: 35px;
    height: 35px;
  }

  @media (min-width: $vp-1920) {
    width: 35px;
    height: 35px;
  }

}
