.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-768) {
    padding-top: 5px;
    justify-content: flex-end;
  }

  @media (min-width: $vp-768) {
    padding: 10px 0 0 0;
    justify-content: flex-end;
  }

  @media (min-width: $vp-1024) {
    padding: 0 0 20px 0;
    justify-content: flex-start;
  }
}

.header__menu-item {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $vp-768) {
    padding-left: 40px;
  }

  @media (min-width: $vp-768) {
    padding-right: 35px;
  }

  @media (min-width: $vp-1024) {
    padding: 0;
  }
}
