.intro {
  width: 100vw;

  @media (max-width: $vp-768) {
    background: url("../../img/template-images/intro-mobile.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
    min-height: 495px;
    background-size: 100vw;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/template-images/intro-mobile@2x.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
      background-size: 100vw;
    }
  }

  @media (min-width: $vp-768) {
    background: url("../../img/template-images/intro-tab.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
    min-height: 72.9vw;
    background-size: 100vw;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/template-images/intro-tab@2x.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
      background-size: 100vw;
    }
  }

  @media (min-width: $vp-1024) {
    background: url("../../img/template-images/intro-desktop.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    min-height: 46.8vw;
    background-size: contain contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/template-images/intro-desktop@2x.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
      background-size: contain contain;
    }
  }

  @media (min-width: $vp-1920) {
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    min-height: 900px;
    background: url("../../img/template-images/intro-desktop.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
    background-size: 100vw;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../../img/template-images/intro-desktop@2x.jpg") no-repeat, linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
      background-size: 100vw;
    }
  }
}

.intro__container {
  display: grid;

  @media (max-width: $vp-768) {
    justify-items: center;
  }

  @media (min-width: $vp-768) {
    padding: 7.8vw 0;
  }

  @media (min-width: $vp-1024) {
    padding: 13.02vw 0 13.02vw 6.5vw;
  }

  @media (min-width: $vp-1920) {
    padding: 250px 0 250px 125px;
  }
}

.intro__title {
  @media (max-width: $vp-768) {
    margin: 0;
    padding: 85px 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #f2f5f7;
  }

  @media (min-width: $vp-768) {
    margin: 0;
    padding: 40px 0 0;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 75px;
    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #f2f5f7;
  }

  @media (min-width: $vp-1024) {
    margin: 0;
    padding: 3.1vw 0 1.5vw;
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 94px;
    letter-spacing: 0;
    text-transform: uppercase;

    color: #f2f5f7;
  }

  @media (min-width: $vp-1920) {
    margin: 0;
    padding: 60px 0 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 74px;
    line-height: 94px;
    letter-spacing: 0;
    text-transform: uppercase;

    color: #f2f5f7;
  }
}

.intro__description {
  @media (max-width: $vp-768) {
    margin: 10px 0;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 155%;
    /* or 22px */


    color: #f2f5f7;
  }

  @media (min-width: $vp-768) {
    margin: 0;

    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    /* or 34px */

    width: 87.2vw;
    color: #f2f5f7;
  }

  @media (min-width: $vp-1024) {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    /* or 34px */
    width: 35.6vw;

    color: #f2f5f7;
  }

  @media (min-width: $vp-1920) {
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 155%;
    /* or 34px */
    width: 685px;

    color: #f2f5f7;
  }
}

.intro__button-wrapper {
  @media (max-width: $vp-768) {
    padding: 33px 0;
  }

  @media (min-width: $vp-768) {
    padding: 7.1vw 5.8vw;
  }

  @media (min-width: $vp-1024) {
    padding: 2.34vw 0;
  }

  @media (min-width: $vp-1920) {
    padding: 45px 0;
  }
}

.intro__button {
  @media (max-width: $vp-768) {
    width: 270px;
    height: 40px;
    display: grid;
    justify-content: center;
    align-items: center;

    background: #00b2ff;
    border-radius: 3px;
    font-weight: 700;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    text-transform: uppercase;

    color: #f2f5f7;
  }

  @media (min-width: $vp-768) {
    width: 410px;
    height: 55px;
    display: grid;
    justify-content: center;
    align-items: center;

    background: #00b2ff;
    border-radius: 3px;
    font-weight: 700;
    font-size: 15.5px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    color: #f2f5f7;
  }
}

.intro__button:hover {
  box-shadow: inset 0 0 7px 0 rgba(0, 0, 0, 0.4);
}

.intro__button:active {
  @media (min-width: $vp-1024) {
    transform: scale(101%);
    transition: 100ms;
  }
}
