.page {
  width: 100%;
  overflow-x: hidden;
}

.page__dark-background {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background: rgba(3, 16, 27, 0.7);
}

.page__dark-background--active {
  display: block;
}

.page__container {
  margin: 0 auto;

  @media (max-width: $vp-768) {
    width: 84.38vw;
  }

  @media (min-width: $vp-768) {
    width: 87.01vw;
  }

  @media (min-width: $vp-1024) {
    width: 63.65vw;
  }

  @media (min-width: $vp-1920) {
    max-width: 1222px;
  }
}

.page__full-logo {
  width: 215px;
  height: 55px;
  display: grid;
  grid-template-areas: "logo title" "logo description";
}

.page__logo-img {
  grid-area: logo;
}

.page__logo-title {
  span {
    grid-area: title;
    font-weight: 700;
    font-size: 25px;
    line-height: 25px;
    color: #f2f5f7;
    padding: 6px 0 0 2px;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-style: normal;
    margin: 0;
  }
}

.page__logo-description {
  span {
    margin: 0;
    grid-area: description;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 0 0 2px;
  }
}

.page__input:focus {
  border: none;
  outline: none;
}

.page__invalid-input {
  outline: 2px solid #ff0000;
}

.page__invalid-input[type="checkbox"] + label {
  outline: 2px solid #ff0000;
}
